# Definition for CI within GitLab
# Note:
#    Prefix any job name with a '.' to disable.
#


# Enable submodules
variables:
  GIT_STRATEGY: clone
  GIT_SUBMODULE_STRATEGY: none


# Common definitions for the jobs
.common: &common
  before_script:
    - git submodule sync ci
    - git submodule update --init ci
  artifacts: &artifacts
    when: always
    paths:
      - artifacts
      - test-output
      - ci-logs
  dependencies: []


.common-cross: &common-cross
  <<: *common
  artifacts:
    <<: *artifacts
#    reports:
#      junit:
#        - artifacts/results.xml


#### Test examples
test-examples:
  <<: *common-cross
  stage: test
  script:
    # Build the examples first, as if it fails we'll then not upload the results.
    - apt-get update
    - export PRINCEXML_I_HAVE_A_LICENSE=1
    - crosscompile/build-examples.sh
  tags:
    - linux


# A collection of tests for different platforms
p:ubuntu-20.04:
  image: ubuntu:20.04
  stage: platforms
  needs: ['test-examples']
  script:
    - apt-get update
    - export PRINCEXML_I_HAVE_A_LICENSE=1
    - crosscompile/build-examples.sh
  tags:
    - linux

p:ubuntu-22.04:
  image: ubuntu:22.04
  stage: platforms
  needs: ['test-examples']
  script:
    - apt-get update
    - export PRINCEXML_I_HAVE_A_LICENSE=1
    - crosscompile/build-examples.sh
  tags:
    - linux

p:ubuntu-24.04:
  image: ubuntu:24.04
  stage: platforms
  needs: ['test-examples']
  script:
    - apt-get update
    - export PRINCEXML_I_HAVE_A_LICENSE=1
    - crosscompile/build-examples.sh
  tags:
    - linux

p:centos-7:
  image: centos:8
  stage: platforms
  needs: ['test-examples']
  script:
    - sed -i 's/mirror\.centos\.org/vault.centos.org/g' /etc/yum.repos.d/CentOS-*.repo
    - sed -i 's/^#.*baseurl=http/baseurl=http/g' /etc/yum.repos.d/CentOS-*.repo
    - sed -i 's/^mirrorlist=http/#mirrorlist=http/g' /etc/yum.repos.d/CentOS-*.repo
    - export PRINCEXML_I_HAVE_A_LICENSE=1
    - crosscompile/build-examples.sh
  tags:
    - linux

p:centos-8:
  image: centos:8
  stage: platforms
  needs: ['test-examples']
  script:
    - echo "Fixing up centos 8 being EOL'd"
    - for i in /etc/yum.repos.d/* ; do sed -i 's/mirrorlist/#mirrorlist/' $i ; done
    - for i in /etc/yum.repos.d/* ; do sed -i 's!#baseurl=http://mirror.!baseurl=http://vault.!' $i ; done
    - echo "Now building"
    - export PRINCEXML_I_HAVE_A_LICENSE=1
    - crosscompile/build-examples.sh
  tags:
    - linux

p:debian-12:
  image: debian:12
  stage: platforms
  needs: ['test-examples']
  script:
    - apt-get update
    - export PRINCEXML_I_HAVE_A_LICENSE=1
    - crosscompile/build-examples.sh
  tags:
    - linux

p:mint-20:
  image: linuxmintd/mint20-amd64
  stage: platforms
  needs: ['test-examples']
  script:
    - export PRINCEXML_I_HAVE_A_LICENSE=1
    - crosscompile/build-examples.sh
  tags:
    - linux

p:mint-22:
  image: linuxmintd/mint22-amd64
  stage: platforms
  needs: ['test-examples']
  script:
    - export PRINCEXML_I_HAVE_A_LICENSE=1
    - crosscompile/build-examples.sh
  tags:
    - linux

# Test by running this on build.riscos.online
# Note: This only runs some simple tests - it doesn't build the examples.
.p:riscos:
  stage: platforms

  script:
    - |
      # Ensure we have the RISC OS bits downloaded and usable
      crosscompile/setup-riscos-tests.sh

      # Zip up the source to send to robuild
      zip -q9r /tmp/source-archive.zip riscos-bits ROTest,feb .robuild.yaml

      # Fetch the build client
      curl -s -L -o riscos-build-online https://github.com/gerph/robuild-client/releases/download/v0.05/riscos-build-online && chmod +x riscos-build-online

      # Send the archive file to build service
      ./riscos-build-online -i /tmp/source-archive.zip -a off -o /tmp/built

      # If it didn't report an error, the test was successful.
  tags:
    - linux


#### Exports ####
export-linux:
  <<: *common-cross
  stage: export-cross
  script:
    # Build and upload the binary to Artifactory.
    # We upload both the master branch and the HTML 5 branch.
    - if [[ "$CI_COMMIT_BRANCH" = 'master' || "$CI_COMMIT_BRANCH" = 'html5-css' ]] ; then upload=--upload ; else upload= ; fi
    - ci/build.sh native install ${upload}
  tags:
    - linux

export-macos:
  <<: *common-cross
  stage: export-cross
  script:
    - if [[ "$CI_COMMIT_BRANCH" = 'master' || "$CI_COMMIT_BRANCH" = 'html5-css' ]] ; then upload=--upload ; else upload= ; fi
    - ci/build.sh native install ${upload}
  tags:
    - macos

export-riscos:
  <<: *common-cross
  stage: export-cross
  script:
    # Ensure we have the RISC OS bits downloaded and usable
    - mkdir -p artifacts
    - eval "$(crosscompile/ci-vars)"
    - crosscompile/build-riscos-archive.sh artifacts/prminxml-${CI_BRANCH_VERSION:-UNKNOWN}.zip
  tags:
    - macos


.build-command-riscos:
  <<: *common
  stage: build-riscos
  script:
    - ci/build.sh install


#### Stages to execute ####
stages:
# - build
  - test
  - platforms
  - export-cross
#  - build-riscos
